<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='/images/favicon.ico' type='image/x-icon' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal donde podrá crear sus propios juegos!</p>
    <p>Hola me llamo Andres Felipe OSPINA</p>
    <img src='/images/yo.jpg' height='100px' width='100px'/>
  </body>
</html>
